iframe {
    border: none;
    width: 100%;
    height: 100%;
    cursor: none;
    position: relative;
    z-index: 1;
}
.video {
    @include aspect-ratio(16, 9);
    z-index: 1;

    @media screen and (max-width: $medium) {
       margin-top: 50px;
       margin-bottom: 0px;
    }
    &.homepage-video {
        margin-top: 10%;

        @media screen and (max-width: $medium) {
            margin-top: -20%;
            margin-bottom: -100px;
        }
        @media screen and (max-width: $small) {
            margin-top: -35%;
            margin-bottom: -130px;
        }
        .video-poster__video-info {
            top: 60%;

            @media screen and (max-width: 1200px) {
                top: 55%;
            }
            @media screen and (max-width: $small) {
                top: 50%;
            }
        }
    }
}
.video-poster {
    position: absolute;
    top: 5vw;
    left: 0px;
    width: 100%;
    height: 82%;
    z-index: 2;
    overflow: hidden;
    cursor: none;

    @media screen and (max-width: $medium) {
        top: 0vw;
        height: 100%;
    }
    @media screen and (max-width: $small) {
        height: 350px;
    }
    &__img {
        object-fit: cover;
        height: 100%;
        pointer-events: none;
    }
}
.video-poster__initials {
    color: $white;
    position: absolute;
    top: -110px;
    right: 10%;

    @media screen and (max-width: 1200px) {
        top: -80px;
    }
    @media screen and (max-width: $medium) {
        top: -130px;
        right: 5%;
    }
    @media screen and (max-width: $small) {
        display: none;
    }
}
.video-poster__video-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}
.video-info__video-intro {
    color: $white;
    font-weight: normal;
}
.video-info__video-title {
    color: $white;
    font-family: $work-sans;
    font-size: 96px;
    line-height: 106px;
    margin-top: 60px;
    margin-bottom: 10px;

    @media screen and (max-width: $medium) {
        font-size: 66px;
        line-height: 76px;
        margin-top: 30px;
    }
    @media screen and (max-width: ($small + 50)) {
        font-size: 46px;
        line-height: 56px;
        margin-top: 30px;
    }
}
.video-info__watch-link {
    color: $white;
    font-family: $europa;
    font-size: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 0px;

    @media screen and (max-width: $small) {
        font-size: 17px;
    }
    &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: $white;
        top: 32px;
        left: 0px;
        transition: .1s ease-in-out;

        @media screen and (max-width: $small) {
            top: 29px;
        }
    }
}