.flex-end {
    align-self: flex-end;
}
.align-self-center {
    align-self: center;
}
.align-self-flex-end {
    align-self: flex-end;
}
.full-width {
    width: 100%;
}
.space-top--100 {
    margin-top: 100px;
}