.flex-end {
    align-self: flex-end;
}
.align-self-center {
    align-self: center;
}
.align-self-flex-end {
    align-self: flex-end;
}
.full-width {
    width: 100%;
}
.space-top {
    &--0 {
        margin-top: 0px;
    }
    &--50 {
        margin-top: 50px;
    }
    &--100 {
        margin-top: 100px;
    }
}
.space-bottom {
    &--0 {
        margin-bottom: 0px;
    }
    &--50 {
        margin-bottom: 50px;
    }
    &--100 {
        margin-bottom: 100px;
    }
}