<div class="animatedParent animateOnce">
    <div class="folders sidebar-margins animated fadeInUpShort delay-750">
        <div class="animatedParent animateOnce">
            <div class="folders__text animated fadeInRight delay-1000">
                <p class="folders__text__label label-generic">{{folders-label}}</p>
                <p class="folders__text__heading">{{{folders-heading}}}</p>
            </div>
        </div>
        <img src="assets/img/clients/{{folders-img}}" alt="{{folders-img-alt}}" class="folders__img" />
    </div>
</div>