<footer>
    <div class="top-of-footer">
        <div class="top-of-footer__red-bg">
            <div class="top-of-footer__red-bg__trust-co">
                <img src="assets/img/trust-co-tan.svg" alt="Trust Co" class="top-of-footer__red-bg__trust-co-img" />
            </div>
            <div class="top-of-footer__red-bg__top-layer">
                <div class="grid-x grid-margin-x">
                    <div class="cell">
                        <p class="top-of-footer__red-bg__top-layer__dept label-generic">Dept. of Design &amp; Commerce</p>
                    </div>
                </div>
                <div class="top-of-footer__red-bg__top-layer__white-block grid-x grid-margin-x">
                    <div class="cell large-9">
                        <p class="top-of-footer__red-bg__top-layer__white-block__footer-heading">Market Street Trust Design Co.</p>
                    </div>
                    <div class="cell large-3 top-of-footer__red-bg__top-layer__white-block__open-an-account align-self-center">
                        <a href="">Open an Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y bottom-of-footer">
        <div class="cell large-5 grid-x grid-margin-x grid-margin-y bottom-of-footer__logos">
            <div class="cell large-3 medium-3 small-3 bottom-of-footer__logos__logo">
                <img src="assets/img/in-design-we-trust.svg" alt="In Design We Trust triangle" />
            </div>
            <div class="cell large-3 medium-3 small-3 bottom-of-footer__logos__logo">
                <img src="assets/img/oval-grid.svg" alt="Oval grid" />
            </div>
            <div class="cell large-3 medium-3 small-3 bottom-of-footer__logos__logo">
                <img src="assets/img/mstco.svg" alt="MSTCO" />
            </div>
            <div class="cell large-3 medium-3 small-3 bottom-of-footer__logos__logo">
                <img src="assets/img/eagle.svg" alt="Eagle" />
            </div>
        </div>
        <div class="cell large-7 grid-x grid-margin-x grid-margin-y bottom-of-footer__footer-info align-self-center">
            <div class="cell large-9">
                <p class="bottom-of-footer__footer-info__questions label-generic">Questions?<a href=""> Speak to the Teller</a></p>
            </div>
            <div class="cell large-3">
                <p class="bottom-of-footer__footer-info__copyright">&copy; 2018</p>
            </div>
        </div>
    </div>
</footer>