{{> vault}}
<div class="header-container animatedParent animateOnce">
    <header class="animated fadeIn">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell large-3 medium-5">
                    <a href="index.html" class="logo">
                        <img src="assets/img/logo.svg" alt="Market Street Trust Co." />
                    </a>
                    <a href="" class="vault-toggle">
                        <div class="burger">
                            <span class="burger-line-1"></span>
                            <span class="burger-line-2"></span>
                            <span class="burger-line-3"></span>
                        </div>
                        <div class="cross">
                            <span class="cross-line-1"></span>
                            <span class="cross-line-2"></span>
                        </div>
                        <span class="vault-toggle__vault-text">Vault</span>
                    </a>
                </div>
                <div class="cell large-9 medium-7">
                    <div class="statement-social">
                        <div class="statement-social__trust-statement">
                            <p><span class="trust-statement__underline">In design</span>, we trust &mdash; <span class="trust-statement__year">MMXVI</span></p>
                        </div>
                        <div class="statement-social__header-social">
                            <ul>
                                <li class="header-social__social-link">
                                    <a href="">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                                <li class="header-social__social-link">
                                    <a href="">
                                        <span class="fab fa-snapchat-ghost"></span>
                                    </a>
                                </li>
                                <li class="header-social__social-link">
                                    <a href="">
                                        <span class="fab fa-instagram"></span>
                                    </a>
                                </li>
                                <li class="header-social__social-link">
                                    <a href="">
                                        <span class="fab fa-spotify"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>