<div class="animatedParent animateOnce">
    <div class="home-hero animated fadeInDownShort delay-250">
        <img src="assets/img/homepage-bg.png" alt="" class="home-hero__hero-img" />
        <div class="home-hero__video">
            <div class="content">
                <iframe src="https://player.vimeo.com/video/320560311?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
        </div>
        <div class="home-hero__hero-text-overlay">
            <h1 class="home-hero__hero-text-overlay__text">We are guardians of design, protectors of commerce and ambassadors of trust.</h1>
            <a href="" class="scroll-btn">
                <img src="assets/img/icons/mouse-white.svg" alt="" class="scroll-btn__img" />
                <span class="scroll-btn__mouse-wheel"></span>
                <span class="scroll-btn__text">Scroll</span>
            </a>
        </div>
    </div>
</div>