<div class="animatedParent animateOnce">
    <div class="home-hero animated fadeInDownShort delay-250">
        <img src="assets/img/homepage-bg.png" alt="" class="home-hero__hero-img" />
        <div class="home-hero__hero-text-overlay">
            <h1 class="home-hero__hero-text-overlay__text">We are guardians of design, protectors of commerce and ambassadors of trust.</h1>
            <a href="" class="scroll-btn">
                <img src="assets/img/icons/mouse-white.svg" alt="" class="scroll-btn__img" />
                <span class="scroll-btn__mouse-wheel"></span>
                <span class="scroll-btn__text">Scroll</span>
            </a>
        </div>
    </div>
</div>