<div class="grid-x sidebar-margins project-cards">
    <div class="cell large-6"></div>
    <div class="cell large-6 rellax" data-rellax-speed="2" id="project-card-rollover">
        <div class="intro-card">
            <div class="content">
                <div class="intro-card__bottomline">
                    <div class="intro-card__bottomline__container">
                        <p class="intro-card__bottomline__heading section-label">Bottomline</p>
                        <p>{{bottomline}}</p>
                    </div>
                </div>
                <div class="intro-card__honors-awards">
                    <div class="intro-card__honors-awards__container">
                        <p class="intro-card__honors-awards__heading section-label">Honors &amp; Awards</p>
                        {{{honors-awards}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>