<div class="manifesto animated">
    <div class="manifesto__reveal--red"></div>
    <div class="manifesto__reveal--black grid-x grid-margin-x grid-margin-y">
        <div class="cell large-3 flex-end">
            <a href="" class="scroll-btn scroll-btn--red">
                <div class="scroll-btn__mouse">
                    <img src="assets/img/icons/mouse-red.svg" alt="" class="scroll-btn__img" />
                    <span class="scroll-btn__mouse-wheel"></span>
                </div>
                <span class="scroll-btn__text">Scroll</span>
            </a>
        </div>
        <div class="cell large-9">
            <p class="manifesto__reveal__our-manifesto label-generic">Our manifesto</p>
            <p class="manifesto__reveal__heading">Design is the</p>
            <p class="manifesto__reveal__underlined-text"><span class="underline">First Language</span></p>
            <p class="manifesto__reveal__text">More than ever, the world is brimming with words. But we know that great design speaks a language all its own: primal, cogent, elegant. We know that a well-crafted package can communicate volumes about its product long before the label is read; that a brand has mere nano-seconds to visually sum up its promise.</p>
        </div>
    </div>
</div>