<div class="animatedParent animateOnce">
    <div class="posters sidebar-margins animated fadeInUpShort delay-750">
        <div class="animatedParent animateOnce">
            <div class="posters__text-top animated fadeInRight delay-1000">
                <p class="posters__text-top__label label-generic">{{posters-top-label}}</p>
                <p class="posters__text-top__heading">{{{posters-top-heading}}}</p>
            </div>
        </div>
        <img src="assets/img/clients/{{posters-img}}" alt="{{posters-img-alt}}" class="posters__img" />
        <div class="animatedParent animateOnce">
            <div class="posters__text-bottom animated fadeInLeft delay-1000">
                <p class="posters__text-bottom__label label-generic">{{posters-bottom-label}}</p>
                <p class="posters__text-bottom__heading">{{{posters-bottom-heading}}}</p>
            </div>
        </div>
    </div>
</div>