<a href="sauders.html" class="project-card project-card--static hover">
    <img src="assets/img/homepage-project-card-2.jpg" alt="" class="project-card__card-img" />
    <p class="project-card__initials initial-accent">SE</p>
    <div class="project-card__card-interior">
        <p class="card-interior__project-intro section-label">Packaging — Branding</p>
        <div class="card-interior__project-info">
            <p class="project-info__project-title"><span>Sauders Eggs</span></p>
            <p class="project-info__see-project">See Project</p>
        </div>
    </div>
</a>