<a href="" class="project-card project-card--roll">
    <img src="assets/img/homepage-project-card-1.jpg" alt="" class="project-card__card-img" />
    <div class="project-card__card-interior">
        <p class="card-interior__first-initial initial-accent">A</p>
        <div class="card-interior__project-info">
            <p class="project-info__project-intro section-label">Design — Promotion — Defiance</p>
            <p class="project-info__project-title"><span>All</span><br><span>Together</span></p>
            <p class="project-info__see-project">See Project</p>
        </div>
        <p class="card-interior__last-initial initial-accent">T</p>
    </div>
</a>