<div class="grid-x grid-margin-x sidebar-margins project-leaders animatedParent animateOnce">
    <div class="cell large-3 medium-4 animated fadeInUpShort">
        <p class="label-generic">Creative Director</p>
        <p class="project-leaders__leader">{{creative-director}}</p>
    </div>
    <div class="cell large-3 medium-4 animated fadeInUpShort delay-250">
        <p class="label-generic">Assoc. Creative Director</p>
        <p class="project-leaders__leader">{{assoc-creative-director}}</p>
    </div>
    <div class="cell large-3 medium-4 animated fadeInUpShort delay-500">
        <p class="label-generic">Copywriter</p>
        <p class="project-leaders__leader">{{copywriter}}</p>
    </div>
</div>