<div class="sidebar-margins animatedParent animateOnce">
    <div class="grid-x grid-margin-x grid-margin-y share-this animated growIn">
        <div class="cell large-4 medium-6">
            <p class="share-this__text">Share this</p>
        </div>
        <div class="cell large-4 medium-6">
            <div class="share-this__social-icons">
                <a href="" class="share-fb"><span class="fab fa-facebook-f"></span></a>
                <a href="" class="share-tw"><span class="fab fa-twitter"></span></a>
            </div>
        </div>
        <div class="cell large-4">
            <a href="{{next-account}}.html" class="share-this__next-account link-red-arrow">View next account</a>
        </div>
    </div>
</div>