<div class="grid-x text-w-two-images animatedParent animateOnce">
    <div class="cell large-6">
        <div class="text-w-two-images__text animated fadeInDownShort delay-250">
            <p class="text-w-two-images__text__label label-generic">{{twti-label}}</p>
            <p class="text-w-two-images__text__heading">{{{twti-heading}}}</p>
        </div>
        <div class="text-w-two-images__leftside-img animated fadeInUp delay-1000">
            <img src="assets/img/clients/{{twti-leftside-img}}" alt="{{twti-leftside-img-alt}}" class="text-w-two-images__leftside-img__img" />
        </div>
    </div>
    <div class="cell large-6 animated fadeInRight delay-750">
        <div class="text-w-two-images__rightside-img">
            <img src="assets/img/clients/{{twti-rightside-img}}" alt="{{twti-rightside-img-alt}}" class="text-w-two-images__rightside-img__img" />
        </div>
    </div>
</div>