<div class="grid-x grid-margin-x text-and-slider">
    <div class="cell large-{{tas-cell-1}} text-and-slider__text">
        <div class="animatedParent animateOnce">
            <div class="label-with-heading {{label-with-heading-class}} animated fadeInUp">
                <p class="label-with-heading__label label-generic">{{tas-label}}</p>
                <p class="label-with-heading__heading">{{{tas-heading}}}</p>
            </div>
        </div>
    </div>
    <div class="cell large-{{tas-cell-2}} text-and-slider__slider">
        {{> slider-from-right}}
    </div>
</div>