<div class="grid-x text-left-image-right animatedParent animateOnce">
    <div class="cell large-{{tlir-leftside-grid-size}} text-left-image-right__text animated fadeInUpShort delay-250">
        <div class="label-with-heading">
            <p class="label-with-heading__label label-generic">{{tlir-label}}</p>
            <p class="label-with-heading__heading">{{{tlir-heading}}}</p>
        </div>
    </div>
    <div class="cell large-{{tlir-rightside-grid-size}} text-left-image-right__img animated fadeInDownShort delay-750">
        <img src="assets/img/clients/{{tlir-img}}" alt="{{tlir-alt}}" />
    </div>
</div>