<div class="grid-x text-w-three-images animatedParent animateOnce">
    <div class="cell large-7 animated fadeInRight delay-750">
        <div class="text-w-three-images__leftside-img">
            <img src="assets/img/clients/{{tw3i-img1}}" alt="{{tw3i-img1-alt}}" class="text-w-three-images__rightside-img__img" />
        </div>
    </div>
    <div class="cell large-1"></div>
    <div class="cell large-4">
        <div class="text-w-three-images__text animated fadeInDownShort delay-250">
            <p class="text-w-three-images__text__label label-generic">{{tw3i-label}}</p>
            <p class="text-w-three-images__text__heading">{{{tw3i-heading}}}</p>
        </div>
        <div class="text-w-three-images__rightside-img animated fadeInUp delay-1000">
            <img src="assets/img/clients/{{tw3i-img2}}" alt="{{tw3i-img2-alt}}" class="text-w-three-images__rightside-img__img" />
        </div>
    </div>
    <div class="cell">
        <img src="assets/img/clients/{{tw3i-img3}}" alt="{{tw3i-img3-alt}}" class="text-w-three-images__bottom-img" />
    </div>
</div>