<div class="vault">
    <div class="vault__marquee-wrapper">
        <p class="vault__text-behind marquee-container">
            <span class="marquee-container__marquee-type" style="animation: marquee 15s linear infinite;">Accounts &amp; Contact</span>
        </p>
    </div>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-3"></div>
            <div class="cell large-9 grid-x">
                <div class="cell large-6 medium-6">
                    <nav class="vault__nav">
                        <ul>
                            <li class="vault__nav__nav-item">
                                <a href="all-together.html" class="vault__nav__nav-item__link">All Together</a>
                            </li>
                            <li class="vault__nav__nav-item">
                                <a href="" class="vault__nav__nav-item__link">Evergrain Brewing Co.</a>
                            </li>
                            <li class="vault__nav__nav-item">
                                <a href="labatt.html" class="vault__nav__nav-item__link">Labatt Blue</a>
                            </li>
                            <li class="vault__nav__nav-item">
                                <a href="" class="vault__nav__nav-item__link">Sauders Eggs</a>
                            </li>
                            <li class="vault__nav__nav-item">
                                <a href="big-hill.html" class="vault__nav__nav-item__link">Big Hill Ciderworks</a>
                            </li>
                            <li class="vault__nav__nav-item">
                                <a href="" class="vault__nav__nav-item__link">Drydene</a>
                            </li>
                            <li class="vault__nav__nav-item">
                                <a href="" class="vault__nav__nav-item__link">Portofino</a>
                            </li>
                            <li class="vault__nav__nav-item">
                                <a href="" class="vault__nav__nav-item__link">Seagrams</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="cell large-6 medium-6 inquiries">
                    <div class="align-self-flex-end">
                        <div class="vault__business-inquiries">
                            <p class="section-label">Business Inquiries</p>
                            <p>In commodo sem turpis, quis placerat nisl finibus quis. Ut finibus at odio.</p>
                            <a href="" class="vault__inquiry-link link-red-arrow">Speak to the General Manager</a>
                        </div>
                        <div class="vault__general-inquiries">
                            <p class="section-label">General Inquiries</p>
                            <p>In commodo sem turpis, quis placerat nisl finibus quis. Ut finibus at odio.</p>
                            <a href="" class="vault__inquiry-link link-red-arrow">Speak to the Teller</a>
                        </div>
                    </div>
                </div>
                <div class="cell vault__address-phone">
                    <p>1006 Market Street Harrisburg PA 17101<br>+1 717 234 8886</p>
                </div>
            </div>
        </div>
    </div>
</div>