<div class="video {{video-class}}">
    <div class="content">
        <iframe src="https://player.vimeo.com/video/{{vimeo-id}}" allowfullscreen allow="autoplay"></iframe>
        <div class="video-poster">
            <img src="assets/img/{{video-poster-img}}" alt="" class="video-poster__img" />
            <p class="video-poster__initials initial-accent">{{video-poster-initials}}</p>
            <div class="video-poster__video-info">
                <p class="video-info__video-intro section-label">{{video-label}}</p>
                <p class="video-info__video-title">{{video-heading}}</p>
                <p class="video-info__watch-link">{{video-watch-link}}</p>
            </div>
        </div>
    </div>
</div>