<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Page Not Found | Market Street Trust Design Co.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
    </head>
    <body class="error">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {{> header}}
        <main>
            <div class="error__img">
                <img src="assets/img/eagle.svg" alt="Eagle" />
            </div>
            <div class="marquee-wrapper">
                <p class="marquee-container">
                    <span class="marquee-container__marquee-type" style="animation: marquee 10s linear infinite;">Page Not Found</span>
                </p>
            </div>
            <p class="error-msg">Whatever you're looking for isn't here. You can try looking through our <a href="" class="open-vault">vault of projects</a> or <a href="index.html" class="error-btn">Go back to the homepage</a></p>
        </main>
        <div id="arrow-cursor"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <script src="{{root}}assets/js/app.js"></script>
    </body>
</html>